@{
    ViewData["Title"] = "Atuação";
    Layout="_layout2";
}
<div class="container t-custom">
    <div class="row">
        <hr class="hr-custom">
        <h2>Atuação</h2>
        <div class="col-12 border border-dark py-2 alphabet text-justify text-md-center">
            <a href="javascript:void(0)">A</a>
            <a href="javascript:void(0)">B</a>    
            <a href="javascript:void(0)">C</a> 
            <a href="javascript:void(0)">D</a> 
            <a href="javascript:void(0)">E</a> 
            <a href="javascript:void(0)">F</a> 
            <a href="javascript:void(0)">G</a> 
            <a href="javascript:void(0)">H</a> 
            <a href="javascript:void(0)">I</a> 
            <a href="javascript:void(0)">J</a>                 
            <a href="javascript:void(0)">L</a> 
            <a href="javascript:void(0)">M</a>                 
            <a href="javascript:void(0)">N</a> 
            <a href="javascript:void(0)">O</a> 
            <a href="javascript:void(0)">P</a> 
            <a href="javascript:void(0)">Q</a> 
            <a href="javascript:void(0)">R</a> 
            <a href="javascript:void(0)">S</a> 
            <a href="javascript:void(0)">T</a> 
            <a href="javascript:void(0)">U</a> 
            <a href="javascript:void(0)">V</a> 
            <a href="javascript:void(0)">X</a> 
            <a href="javascript:void(0)">Z</a> 
        </div>
        <div class="container mt-5">
            <div class="row text-center">
                <div class="col-6 col-md-4 p-5 border border-primary border-left-0 border-top-0">
                    <a href="javascript:void(0)">Ambiental</a>
                </div>
                <div class="col-6 col-md-4 p-5 border border-primary border-top-0">
                    <a href="javascript:void(0)">Penal</a>
                </div> 
                <div class="col-6 col-md-4 p-5 border border-primary border-right-0 border-top-0">
                    <a href="javascript:void(0)">Aeronáutico</a>
                </div>  
                <div class="col-6 col-md-4 p-5 border border-primary border-left-0 border-bottom-0">
                    <a href="javascript:void(0)">Imigração</a>
                </div>
                <div class="col-6 col-md-4 p-5 border border-primary border-bottom-0">
                    <a href="javascript:void(0)">Marítimo</a>
                </div> 
                <div class="col-6 col-md-4 p-5 border border-primary border-right-0 border-bottom-0">
                    <a href="javascript:void(0)">Mineração</a>
                </div>                                                
            </div>
        </div>
    </div>
</div>