@{
    ViewData["Title"] = "Contatos";
    Layout="_layout2";
}

<div class="container t-custom">
    <div class="row">
        <div class="col-12 mt-5">
            <hr class="hr-custom">
            <h2>Fale conosco</h2>
            <hr class="hr-custom">
            <div class="row">
                <div class="col-md-6 mt-5 small">
                    <span>​​
                        Para entrar em contato conosco envie um e-mail para pna@pn.com​​.br.
                        Para enviar seu currículo, por favor, acesse a seção Carreira​ e cadastre-se.
                    </span>
                    <h4 class="mt-4">DADOS DE IMPRENSA</h4>
                    <span>​​
                    Caroline Teixeira C Aguiar
                    Tel: +55(11) 3247-6235
                    E-mail: caguiar@pn.com.br 
                    </span>
                    <hr class="hr-custom"> 
                </div>
                <div class="card col-md-6">
                    <div class="card-body d-flex align-items-center justify-content-around">
                    <i class="fas fa-map-marked-alt fa-8x"></i>
                        <div class="form-group mb-0">
                        <p>SÃO PAULO</p>
                        <p>Rua Hungria, 110001455-906</p>                        
                        <p>Tel: +55 (11) 3247-8400</p>
                        <p>Fax: +55 (11) 3247-8600</p>    
                        </div>               
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>