@{
    ViewData["Title"] = "Home";
    Layout = "_layout2";
}
<div class="container t-custom">
    <div class="row">
        <section class="form-row col-lg-12 mb-5" id="costa">
            <div class="col-lg-4">
                <h2>INDEPENDENTE. MULTIDISCIPLINAR. COMPLETO.</h2>
            </div>
            <div class="w-100 mb-3"></div>
            <div class="col-lg-4">
                <p>Pinheiro Neto Advogados é um escritório brasileiro, independente, de 
                    atuação diversificada&nbsp;(<em>full service</em>), especializado em operações 
                    multidisciplinares e capaz de traduzir o ambiente legal brasileiro em 
                    benefício de seus clientes nacionais e internacionais. </p> 
                <p>Pinheiro Neto Advogados foi uma das&nbsp;primeiras firmas no Brasil a 
                    prospectar clientes estrangeiros e se especializar em direito empresarial. À 
                    medida que a indústria brasileira foi se desenvolvendo e a economia se 
                    sofisticando, a carteira de clientes nacionais foi se expandindo, e 
                    atualmente representa aproximadamente a metade dos nossos clientes.</p> 
                <p>Pinheiro Neto Advogados é o parceiro institucional brasileiro do estudo 
                    GLEE (Globalização, Advogados e Economias Emergentes), conduzido pelo Centro 
                    de Estudos Profissionais da Faculdade de Direito de Harvard.</p> 
                <p>Pinheiro Neto Advogados é parceiro brasileiro do projeto de pesquisa e 
                    inovação tecnológica para a área jurídica desenvolvido conjuntamente pela 
                    Thomson Reuters e pela Samsung com apenas umas poucas&nbsp;firmas em todo o 
                    mundo. </p>  
            </div>
            <div class="col-lg-4">
                <p>A firma cresceu de maneira orgânica e desenvolveu uma cultura própria, 
                    integrada, com baixo número&nbsp;de associados por sócio.</p> 
                <p>O escritório representa clientes nacionais e estrangeiros atuantes&nbsp;numa 
                    ampla gama&nbsp;de setores, incluindo automotivo, serviços bancários e 
                    financeiros, construção e materiais de construção, energia e recursos 
                    naturais, meio ambiente, gestão de resíduos, saúde, petróleo e gás, 
                    imobiliário e tecnologia.</p> 
                <p>O escritório tem correspondentes em todo o Brasil e mantém relacionamento 
                    estreito com firmas de primeira linha em diversos países.</p> 
                <p>Em decorrência de sua atuação diversificada e da excelência de seus 
                    profissionais, o escritório é capaz de prestar assistência a clientes de 
                    qualquer setor econômico em todas as áreas do Direito, o que lhe permite 
                    desenvolver relacionamentos de confiança mútua, tanto no dia-a-dia como em 
                    decisões estratégicas, envolvendo questões legais sofisticadas, complexas ou ou tecnicamente desafiadoras​.
            </div>
            <div class="col-lg-4 align-items-center">
                <img class="img-fluid" src="~/img/escritorio_df.jpg"/>
            </div>
        </section>
        <section class="form-row col-lg-12" id="timeline">
            <h4>Linha do tempo</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>
                    <a href="#" class="float-right">21 March, 2014</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                </li>
                <li>
                    <a href="#">21 000 Job Seekers</a>
                    <a href="#" class="float-right">4 March, 2014</a>
                    <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
                </li>
                <li>
                    <a href="#">Awesome Employers</a>
                    <a href="#" class="float-right">1 April, 2014</a>
                    <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                </li>
            </ul>                   
        </section>
        <section class="form-row col-lg-12 min-vh-100" id="recognition">
            <span class="h1">
                Conteúdo aqui
            </span>
        </section>
        <section class="form-row col-lg-12 min-vh-100" id="socialresponsability">
            <span class="h1">
                Conteúdo aqui
            </span>         
        </section>
        <section class="form-row col-lg-12 min-vh-100" id="people">
            <span class="h1">
                Conteúdo aqui
            </span>       
        </section>
        <section class="form-row col-lg-12 min-vh-100" id="addresses">
            <span class="h1">
                Conteúdo aqui
            </span>
        </section>
    </div>
</div>