@{
    ViewData["Title"] = "Eventos";
    Layout="_layout2";
}
<div class="container t-custom">
    <div class="row">
        <hr class="hr-custom">
        <h2>Eventos</h2>
        <div class="col-12 bg-custom p-3">
            <div class="form-row align-items-end without-radian-border">
                <div class="col-md-auto">
                    <label class="  font-weight-bold">Filtros</label>
                    <input class="form-control form-control-sm" placeholder="Por conteúdo"/>
                </div>
                <div class="col-md-auto">
                    <input class="form-control form-control-sm" placeholder="Por advogado"/>
                </div>                
                <div class="col-md-auto">
                    <select class="form-control form-control-sm">
                        <option>Local</option>
                        <option>SP</option>
                    </select>
                </div>                
                <div class="col-md-auto">
                    <select class="form-control form-control-sm">
                        <option>Áreas de atuação</option>
                        <option>Ambiental</option>
                    </select>
                </div>
                <div class="col-md-auto">
                    <select class="form-control form-control-sm ">
                        <option>Ano</option>
                        <option>2020</option>
                    </select>
                </div>   
                <div class="col-md-auto">
                    <select class="form-control form-control-sm ">
                        <option>Mes</option>
                        <option>Setembro</option>
                    </select>
                </div>                   
                <div class="ml-auto mt-3">
                    <button class="btn btn-sm btn-light font-weight-bold rounded-0">Pesquisar</button>
                </div>   
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Eventos</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <hr class="risk">
                        </td>
                        <td class="align-middle">
                            Efeito Open Banking | 05.03
                        </td>      
                        <td class="align-middle">
                            05.03.2020
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            <hr class="risk">
                        </td>
                        <td class="align-middle">
                            Efeito Open Banking | 05.03
                        </td>      
                        <td class="align-middle">
                            05.03.2020
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            <hr class="risk">
                        </td>
                        <td class="align-middle">
                            Efeito Open Banking | 05.03
                        </td>      
                        <td class="align-middle">
                            05.03.2020
                        </td>
                    </tr>                                    
                </tbody>
            </table>
        </div>
    </div>
</div>
