@{
    ViewData["Title"] = "Advogados";
    Layout="_layout2";
}
<div class="container t-custom">
    <div class="row">
        <hr class="hr-custom">
        <h2>Advogados</h2>
        <div class="col-12 bg-custom p-3">
            <div class="row without-radian-border">
                <div class="col-md-3">
                    <input class="form-control form-control-sm" placeholder="Nome do advogado"/>
                </div>
                <div class="col-md-3">
                    <select class="form-control form-control-sm">
                        <option>Categoria</option>
                        <option>Sócio</option>
                    </select>
                </div>                
                <div class="col-md-3">
                    <select class="form-control form-control-sm">
                        <option>Áreas de atuação</option>
                        <option>Ambiental</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control form-control-sm ">
                        <option>Escritórios</option>
                        <option>Bahia</option>
                    </select>
                    <div class="float-right mt-3">
                        <button class="btn btn-sm btn-light font-weight-bold rounded-0">Pesquisar</button>
                    </div>
                </div>       
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Advogados</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <img class="img-fluid foto-mold" height="30" src="~/img/ft-perfil.jpg"/>
                        </td>
                        <td class="align-middle">
                            Sócio
                            <div class="w-100"></div>
                            Adolpho Julio Camargo de Carvalho
                        </td>      
                        <td class="align-middle">
                            São Paulo
                        </td>
                        <td class="align-middle">
                            +55 11 3641 9784
                        </td>
                        <td class="align-middle">
                            advogado@adv.com.br
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            <img class="img-fluid foto-mold" height="30" src="~/img/ft-perfil.jpg"/>
                        </td>
                        <td class="align-middle">
                            Sócio
                            <div class="w-100"></div>
                            Adolpho Julio Camargo de Carvalho
                        </td>      
                        <td class="align-middle">
                            São Paulo
                        </td>
                        <td class="align-middle">
                            +55 11 3641 9784
                        </td>
                        <td class="align-middle">
                            advogado@adv.com.br
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            <img class="img-fluid foto-mold" height="30" src="~/img/ft-perfil.jpg"/>
                        </td>
                        <td class="align-middle">
                            Sócio
                            <div class="w-100"></div>
                            Adolpho Julio Camargo de Carvalho
                        </td>      
                        <td class="align-middle">
                            São Paulo
                        </td>
                        <td class="align-middle">
                            +55 11 3641 9784
                        </td>
                        <td class="align-middle">
                            advogado@adv.com.br
                        </td>
                    </tr>                                        
                </tbody>
            </table>
        </div>
    </div>
</div>
