@{
    ViewData["Title"] = "Carreira";
    Layout="_layout2";
}
<div class="container t-custom">
    <div class="row">
        <div class="col-12 mt-5">
            <hr class="hr-custom">
            <h2>Carreira</h2>
            <hr class="hr-custom">
        </div>
        <div class="col-12 mt-5"> 
            <div class="form-row">
                <div class="col-md-4 row justify-content-center">
                    <img src="~/img/ft-perfil.jpg" class="img-fluid mx-auto"/>
                </div>
                <div class="col-md-4 text-justify">
<h4>A GESTÃO DE TALENTOS</h4>

<span>Nossa equipe é dinâmica e entusiasmada: estudamos muito, trabalhamos duro e nos dedicamos de corpo e alma para garantir o sucesso dos nossos clientes, com soluções criativas, seguras e eficientes. A contrapartida? Inúmeras oportunidades de aprendizado e desenvolvimento pessoal e profissional. Nosso foco são as pessoas, e, não por acaso, 90% dos nossos sócios iniciaram sua carreira aqui, como estagiários.  </span>                  
                </div>
                <div class="col-md-4 row justify-content-center">
                    <img src="~/img/ft-perfil.jpg" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</div>